{% extends 'common/base.html' %}
{% load static %}
{% load staticfiles %}

{% block  title %}
    {{ request.user.first_name }} {{ request.user.last_name }} Profile - Synapse Integrated Threats Intelligence
{% endblock %}

{% block additionalscripts %}
{% endblock %}

{% block main_dashboard_contents %}
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <div class="thumb thumb-rounded thumb-slide">
                    <img src="{% static 'assets/images/demo/users/face11.jpg' %}" alt="">
                    <div class="caption">
                        <span>
                            <a href="#" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
                        </span>
                    </div>
                </div>

                <div class="caption text-center">
                    <h6 class="text-semibold no-margin">{{ request.user.first_name }} {{ request.user.last_name }}
                        <small class="display-block">System User</small></h6>
                    <ul class="icons-list mt-15">
                        <li><a href="#" data-popup="tooltip" title="" data-original-title="Google Drive"><i class="icon-google-drive"></i></a></li>
                        <li><a href="#" data-popup="tooltip" title="" data-original-title="Twitter"><i class="icon-twitter"></i></a></li>
                        <li><a href="#" data-popup="tooltip" title="" data-original-title="Github"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
			</div>
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h6 class="panel-title">Navigation<a class="heading-elements-toggle"><i class="icon-more"></i></a></h6>
                    <div class="heading-elements">
                        <a href="#" class="heading-text">See all →</a>
                    </div>
                </div>

                <div class="list-group no-border no-padding-top">
                    <a href="#" class="list-group-item"><i class="icon-user"></i> My profile</a>
                    <a href="#" class="list-group-item"><i class="icon-cash3"></i> Balance</a>
                    <a href="#" class="list-group-item"><i class="icon-alert"></i>Notifications</a>
                    <div class="list-group-divider"></div>
                    <a href="#" class="list-group-item"><i class="icon-cog3"></i> Account settings</a>
                </div>
			</div>
        </div>
        <div class="col-md-9 col-sm-6"></div>
    </div>
{% endblock %}