{% load static %}
<script src="{% static 'assets/ajax/libs/jquery/1.10.2/jquery.min.js' %}"></script>
<script src="{% static 'assets/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script> 								<!-- Load Bootstrap -->
<script src="{% static 'assets/plugins/sparklines/jquery.sparklines.min.js' %}"></script>  		<!-- Sparkline -->
<script src="{% static 'assets/plugins/jstree/dist/jstree.min.js' %}"></script>  				<!-- jsTree -->
<script src="{% static 'assets/plugins/codeprettifier/prettify.js' %}"></script> 				<!-- Code Prettifier  -->
<script src="{% static 'assets/plugins/bootstrap-switch/bootstrap-switch.js' %}"></script> 		<!-- Swith/Toggle Button -->
<script src="{% static 'assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js' %}"></script>  <!-- Bootstrap Tabdrop -->
<script src="{% static 'assets/plugins/iCheck/icheck.min.js' %}"></script>     					<!-- iCheck -->
<script src="{% static 'assets/js/enquire.min.js' %}"></script> 									<!-- Enquire for Responsiveness -->
<script src="{% static 'assets/plugins/simpleWeather/jquery.simpleWeather.min.js' %}"></script> <!-- Weather plugin-->
<script src="{% static 'assets/js/application.js' %}"></script>
<script src="{% static 'assets/demo/demo.js' %}"></script>
<script src="{% static 'assets/plugins/form-daterangepicker/daterangepicker.js' %}"></script>     	<!-- Date Range Picker -->
<script src="{% static 'assets/plugins/form-daterangepicker/moment.min.js' %}"></script>             <!-- Moment.js for Date Range Picker -->
<script src="{% static 'assets/plugins/easypiechart/jquery.easypiechart.js' %}"></script> 			<!-- EasyPieChart -->
<script src="{% static 'assets/plugins/switchery/switchery.js' %}"></script>     					<!-- Switchery -->
<script src="{% static 'assets/plugins/fullcalendar/fullcalendar.min.js' %}"></script>   			<!-- FullCalendar -->
