{% load static %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle username" data-toggle="dropdown">
        <span class="hidden-xs">{{ request.user.first_name }} {{ request.user.last_name }}</span>
        <img class="img-circle" src="{% static 'assets/demo/avatar/default.png' %}" alt="Dangerfield" />

    </a>
    <ul class="dropdown-menu userinfo">
        <li><a href="#"><span class="pull-left">Edit Profile</span> <i class="pull-right fa fa-pencil"></i></a></li>
        <li><a href="#"><span class="pull-left">Account Settings</span> <i class="pull-right fa fa-cogs"></i></a></li>
        <li><a href="#"><span class="pull-left">Help</span> <i class="pull-right fa fa-question-circle"></i></a></li>
        <li class="divider"></li>
        <li><a href="{% url 'users:logout' %}"><span class="pull-left">Sign Out</span> <i class="pull-right fa fa-sign-out"></i></a></li>
    </ul>
</li>