{% load static %}
{% load staticfiles %}
<link href="{% static 'assets/css/css1381.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/css/colors.css' %}" rel="stylesheet" type="text/css">
<!-- /global stylesheets -->
<!-- Core JS files -->
<script  type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/core/libraries/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>
<!-- /core JS files -->
	