<footer class="footer">
        <div class="container">

            <div class="row align-items-end">

                <div class="col-lg-12 text-center">
                    <div class="row">
                        <div class="col-lg-6 mb20">
                            <h5 class=" mb20">Call Us</h5>
                            <p class="lead">+01 123-4567-089</p>
                        </div>
                        <div class="col-lg-6 mb20">
                            <h5 class=" mb20">Mail Us</h5>
                            <p class="lead">support@assan.com</p>
                        </div>
                    </div><hr class="mb20">
                    <div class="social-buttons text-center">
                        <span>
                            <a href="#" class="social-icon si-dark si-facebook si-dark-round">
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="social-icon si-dark si-twitter si-dark-round">
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="social-icon si-dark si-g-plus si-dark-round">
                                <i class="fa fa-google-plus"></i>
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a href="#" class="social-icon si-dark si-skype si-dark-round">
                                <i class="fa fa-skype"></i>
                                <i class="fa fa-skype"></i>
                            </a>
                        </span>
                    </div>
                    <ul class="list-inline pb20">
                        <li class="list-inline-item">
                            <a href="#">About us</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">News</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Terms & conditions</a>
                        </li>
                        <li class="list-inline-item">
                            Gene Therapy &copy; Copyright 2017.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</footer>