{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Gene Therapy Platform</title>
        <!-- Plugins CSS -->
        <link href="{% static 'landing/css/plugins/plugins.css' %}" rel="stylesheet">
        <link href="{% static 'landing/linearicons/fonts.css' %}" rel="stylesheet">
        <link href="{% static 'landing/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'landing/css/searchbox.css' %}" rel="stylesheet">
    </head>

    <body data-spy="scroll" data-target="#landingkit-navbar" data-offset="74">
        <div id="preloader">
            <div id="preloader-inner"></div>
        </div><!--/preloader-->

        <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-sticky">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'landing/images/logo.png' %}" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#landingkit-navbar" aria-controls="landingkit-navbar"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="landingkit-navbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" data-scroll href="#home">Home <span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item dropdown">
                             <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 Components
                            </span>
                             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Parts</a>
                                <a class="dropdown-item" href="#">Therapeutic Genes</a>
                                <a class="dropdown-item" href="#">Expression Cassettes</a>
                                <a class="dropdown-item" href="#">Viral Vectors</a>
                                <a class="dropdown-item" href="#">Non-Viral Vectors</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-scroll href="#features">How It Works</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-scroll href="#search">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-scroll href="#subscribe">Subscribe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-scroll href="#">Developers</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto navbar-right">
                       {% if request.user.is_authenticated %}
                           <li class="nav-item">
                                <a class="nav-link btn btn-primary onaddcomponent" target="_blank"><i class="fa fa-2x fa-plus-circle"> <span>Add</span></i> </a>
                           </li>
                         <li class="nav-item dropdown">
                            <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 My Account
                            </span>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">My Components</a>
                                <hr class="divider"/>
                                <a class="dropdown-item" href="{% url 'users:profile' %}">My Profile</a>
                                <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
                            </div>
                        </li>
                        {% else %}
                           <li class="nav-item">
                                <a class="nav-link btn btn-primary" target="_blank" href="{% url 'users:register' %}">Register Now</a>
                            </li>
                           <li class="nav-item">
                                <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
                           </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
        <div id="home" class="parallax-fullscreen" data-jarallax-video="https://www.youtube.com/watch?v=xKerTa8yLRM" data-jarallax-original-styles="null">
            <div class="parallax-overlay"></div>
            <div class="hero-content">
                <div class="hero-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 ml-auto mr-auto text-center pb50">
                                <h5 class="text-white font400 text-uppercase"></h5>
                                <h3 class="mb20 text-white title-font text-capitalize h1">Free Gene Therapy Catalog and Design Platform</h3>
                                <p class="text-white-gray mb30 lead">
                                     Browse Thousands Genes Parts, Components, Expression Cassettes, Viral and non-viral Vectors, or You can design your own and share it with the world.
                                </p>
                                <div>
                                    <a data-scroll href="{% url 'users:register' %}" target="_blank" class="btn btn-success mr-3">Create an account</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--hero-->
        <main class="main-content">
            <section id='features' class='pt90 pb50'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-lg-3 col-md-6 mb40 text-center feature-icon wow fadeInUp' data-wow-delay='.1s'>
                            <img src="{% static 'icons/virus.png' %}" style="margin-bottom:40px">
                            <h4>Viral Vectors</h4>
                            <p>
                                Search for Viral Vectors and understand the engineering tricks behind their modifications
                            </p>
                        </div><!--col-->
                        <div class='col-lg-3 col-md-6 mb40 text-center feature-icon wow fadeInUp' data-wow-delay='.2s'>
                            <img src="{% static 'icons/nonviral.png' %}" style="margin-bottom:40px">
                            <h4>Synthetic Polymers</h4>
                            <p>
                                Browse all non-viral vectors, including liposomes, synthetic polymers and targetted proteins.
                            </p>
                        </div><!--col-->
                        <div class='col-lg-3 col-md-6 mb40 text-center feature-icon wow fadeInUp' data-wow-delay='.3s'>
                            <img src="{% static 'icons/transgene.png' %}" style="margin-bottom:40px">
                            <h4>Expression Cassettes</h4>
                            <p>
                                Browse thousands of targetted therapeutic Expression Cassettes for specific hereditary as well as non-hereditary diseases.
                            </p>
                        </div><!--col-->
                        <div class='col-lg-3 col-md-6 mb40 text-center feature-icon wow fadeInUp' data-wow-delay='.4s'>
                            <img src="{% static 'icons/part.png' %}" style="margin-bottom:40px">
                            <h4>Therapeutic Parts</h4>
                            <p>
                                Browse thousands of biological parts acting as hot plug-n-play components that could be used in your next gene therapy experiment.
                            </p>
                        </div><!--col-->
                    </div>
                </div>
            </section><!--features-->
            <div class='bg-white border-btm1'>
                <div class='container pt90 pb50'>
                    <div class='row align-items-center'>
                        <div class='col-lg-5 mb40'>
                            <h6 class="text-dark-gray">Share Your...</h6>
                            <h3 class='title-font mb20'>Therapeutic Component</h3>
                            <p class='lead'>
                                You can easily share your amazingly engineered therapeutic component with the rest of the world. The components range from the simplest bio-parts including regulatory regions, parts of regulatory regions, promoter sequences and enhancers to the most complicated whole viral or non-viral vectors with complete expression cassettes containing the therapeutic transgene.

                            </p>
                        </div>
                        <div class='col-lg-6 ml-auto mb40 wow fadeInUp' data-wow-delay=".1s">
                            <img src='{% static 'assets/images/Viruses-feature-oncolytic-viruses.jpg' %}' alt='' class='img-fluid'>
                        </div>
                    </div>
                </div>
            </div><!--feature-->
            <div class='bg-white border-btm1'>
                <div class='container pt90 pb50'>
                    <div class='row align-items-center'>
                        <div class='col-lg-6 mb40 wow fadeInUp' data-wow-delay='.2s'>
                            <img src='{% static 'assets/images/Graphic-representation-of-annotated-plasmids-pIS15-43-and-pIS04-68-GC-content-is_W640.jpg' %}' alt='' class='img-fluid'>
                        </div>
                        <div class='col-lg-5 mr-auto mb40'>
                            <h6 class="text-dark-gray">Simply Design...</h6>
                            <h3 class='title-font mb20'>Expression Cassette</h3>
                            <p class='lead'>
                                You can easily build your expression cassette for the next gene therapy experiment from smaller pluggable biological parts within the platform.
                            </p>
                            <a href="#" class="btn btn-outline-success">Read More</a>
                        </div>

                    </div>
                </div>
            </div><!--feature-->
            <div class='bg-white'>
                <div class='container pt90 pb50'>
                    <div class='row align-items-center'>
                        <div class='col-lg-5 ml-auto mb40'>

                            <h6 class="text-dark-gray">Well documented and clean services</h6>
                            <h3 class='title-font mb20'>Developers friendly services</h3>
                            <p class='lead'>
                                You can now easily integrate our database into your product through developers friendly Restful APIs
                            </p>
                            <a href="https://www.youtube.com/watch?v=xKerTa8yLRM" class="btn btn-outline-dark modal-video"><i class="icon-play-circle"></i>Watch Video</a>
                        </div>
                        <div class='col-lg-6 mr-auto mb40 wow zoomInUp' data-wow-delay=".1s">
                            <img src="{% static 'landing/images/mockup5.png' %}" alt="" class="img-fluid center-img">
                        </div>
                    </div>
                </div>
            </div><!--feature-->


            <section class="bg-parallax pt100 pb100" data-jarallax='{"speed": 0.2}' style='background-image: url("{% static 'landing/images/bg2.jpg' %}")'>
                <div class="parallax-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 mr-auto ml-auto text-center wow zoomInDown" data-wow-delay=".1s">
                            <h2 class="text-white-gray mb30">Sign Up <span class="text-white">Now</span> It's free.</h2>
                            <a href="{% url 'users:register' %}" class="btn btn-white-outline">Sign Up.</a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="search" class="border-btm1">
                <div class="container pt90 pb50 wow fadeInUp" data-wow-delay='.1s'>

                    <h6 class="text-dark-gray text-center">Search For</h6>
                    <h3 class="title-font mb70 text-center">Components</h3>
                    {% include 'fragments/searchbox.html' %}
                </div>
            </section>
            <section id="subscribe" class="bg-parallax pt100 pb100" data-jarallax='{"speed": 0.2}' style='background-image: url("images/bg3.jpg")'>
                <div class="parallax-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 mr-auto ml-auto text-center">
                            <h6 class="text-white-gray text-center">Subscribe to our Newsletter and get benefits</h6>
                            <h3 class="text-center text-white title-font mb50">Subscribe Now</h3>
                            <form>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" placeholder="Name" required="">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="email" class="form-control" placeholder="Email" required="">
                                    </div>
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-primary btn-block">Subscribe</button>
                                    </div>
                                </div>

                                <div class="text-center pt20">
                                    <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Accept our <a href="#" class="text-white">Terms &amp; Conditions</a></span>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main><!--main-content-->

        {% include 'create_component_dialog.html' %}

        {% include 'landing/footer.html' %}
        <!--back to top-->
        <a href="#" class="back-to-top" id="back-to-top"><i class="icon-chevron-up"></i></a>
        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script type="text/javascript" src="{% static 'landing/js/plugins/plugins.js' %}"></script>
        <!--tweet-scroller-->
        <script src="{% static 'landing/tweetie/tweetie.min.js' %}" type="text/javascript"></script>
        <script type="text/javascript" src="{% static 'landing/js/landing.custom.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/component.js' %}"></script>

    </body>


</html>
